@tailwind base;
@tailwind components;
@tailwind utilities;

html,
head,
body {
  margin: 0;
  padding: 0;
  border: 0;
  outline: none;
  background-color: black;
}

a {
  text-decoration: none;
  color: currentColor;
}

svg {
  fill: currentColor;
}

.app-content-height {
  height: calc(100vh - var(--ant-layout-header-height));
  overflow: auto;
}

.settings-categories-list-item li {
  line-height: 2rem;
}

.selection-hover:hover {
  background-color: var(--ant-color-fill-secondary);
}

.MuiLinearProgress-root {
  height: 2px !important;
  background-color: unset !important;
  position: absolute;
}

/***************** AG Grid Overrides ****************/

.ag-header {
  font-weight: normal;
  font-size: 15px;
}

.ag-cell-editor-autocomplete {
  background-color: #1f1f1f;
  border-radius: 8px;
  font-size: 13px;
  padding: 0.25rem;
}

.ag-cell-editor-autocomplete>div {
  padding: 0.25rem;
  border-radius: 4px;
}

.ag-cell-editor-autocomplete>div.selected {
  background-color: rgba(255, 255, 255, 0.12);
}

/***************** React Grid Overrides ****************/
.rg-cell {
  border: 0 !important;
  border-bottom: var(--ant-line-width) var(--ant-line-type) var(--ant-color-border) !important;
  color: var(--ant-color-text) !important;
  line-height: var(--ant-line-height) !important;
  font-size: var(--ant-font-size) !important;
}

.rg-header-cell {
  background-color: unset !important;
}

.rg-pane {
  background-color: var(--ant-color-bg-container) !important;
}

.rg-pane-top {
  background-color: var(--ant-color-bg-elevated) !important;
  border-top-left-radius: var(--ant-border-radius) !important;
  border-top-right-radius: var(--ant-border-radius) !important;
}

.rg-celleditor {
  padding: 0 !important;
}

.rg-ant-dropdown-editor-wrapper {
  width: calc(100% + 4px) !important;
  height: 100% !important;
}

.rg-ant-dropdown-editor-wrapper .ant-select-selector {
  border-radius: 0 !important;
}

.rg-cell.rg-checkbox-cell label input:checked~span {
  border-color: var(--ant-color-primary) !important;
  background-color: var(--ant-color-primary) !important;
}

.rg-cell.rg-checkbox-cell span {
  background-color: var(--ant-color-bg-container) !important;
  border-radius: var(--ant-border-radius-sm);
  border: var(--ant-line-width) var(--ant-line-type) var(--ant-color-border);
  transition: all var(--ant-motion-duration-slow);
}

.rg-cell.rg-checkbox-cell label span:after {
  left: 5px !important;
  top: 1px !important;
  width: 6px !important;
  height: 12px !important;
}

.rg-id {
  justify-content: flex-start !important;
}